<% layout('layouts/boilerplate') %>

<h3 class="text-center mb-4">Edit Your Listing</h3>

<form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="w-50 mx-auto">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="listing[title]" type="text" class="form-control" value="<%= listing.title %>">
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control" rows="3"><%= listing.description %></textarea>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input name="listing[image]" value="<%= listing.image.url %>" type="text" placeholder="Enter image URL" class="form-control">

  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input name="listing[price]" type="number" class="form-control" value="<%= listing.price %>">
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input name="listing[location]" type="text" class="form-control" value="<%= listing.location %>">
  </div>

  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <input name="listing[country]" type="text" class="form-control" value="<%= listing.country %>">
  </div>

  <button class="btn btn-primary">Update Listing</button>
</form>
